// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.5\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "enabled": "true",
  "shape": "Circle",
  "position": "TopLeft",
  "showDayNight": "true",
  "info1Label": "FPS",
  "info2Label": "Location",
  "info3Label": "Biome",
  "info4Label": "Blank",
  "sizePercent": "30",
  "frameAlpha": "100",
  "terrainAlpha": "100",
  "orientation": "North",
  "compassFontScale": "1",
  "showCompass": "true",
  "showReticle": "true",
  "reticleOrientation": "Compass",
  "active": true,
  "playerDisplay": "SmallIcons",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallIcons",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "1",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xyvz",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.5.2"
}